[jsonexport]
sql-init=DROP TABLE IF EXISTS jsontest.jsontab4
sql-init=CREATE TABLE IF NOT EXISTS jsontest.jsontab4(col_bigint BIGINT NOT NULL PRIMARY KEY AUTO_INCREMENT, \
  col_bigintunsigned BIGINT UNSIGNED NOT NULL, \
  col_int INT NOT NULL, \
  col_intunsigned INT UNSIGNED NOT NULL, \
  col_mediumint MEDIUMINT NOT NULL, \
  col_mediumintunsigned MEDIUMINT UNSIGNED NOT NULL, \
  col_smallint SMALLINT NOT NULL, \
  col_smallintunsigned SMALLINT UNSIGNED NOT NULL, \
  col_tinyint TINYINT NOT NULL, \
  col_tinyintunsigned TINYINT UNSIGNED NOT NULL, \
  col_decimal DECIMAL NOT NULL, \
  col_decimalunsigned DECIMAL UNSIGNED NOT NULL, \
  col_numeric NUMERIC NOT NULL, \
  col_numericunsigned NUMERIC UNSIGNED NOT NULL, \
  col_float FLOAT NOT NULL, \
  col_floatunsigned FLOAT UNSIGNED NOT NULL, \
  col_double DOUBLE NOT NULL, \
  col_doubleunsigned DOUBLE UNSIGNED NOT NULL, \
  col_bool BOOL NOT NULL, \
  col_char32 CHAR(32) NOT NULL, \
  col_varchar32 VARCHAR(32) NOT NULL, \
  col_null CHAR(1));
  
sql-init=INSERT INTO jsontest.jsontab4 VALUES(1234567, 1234567, 123, 123456, \
  1717881, 18181871, 19198181, 11799181, 998279, 89981, 17.81, 57118.1919, \
  11994254.8181, 9191.881, 11991.646, 98798.64323, 1881.881, 8181818.98798, \
  FALSE, 'A string', 'A varchar string', NULL)
