[jsonexport]
sql-init=DROP TABLE IF EXISTS jsontest.jsontab3
sql-init=CREATE TABLE IF NOT EXISTS jsontest.jsontab3(jsoncol1 INT NOT NULL PRIMARY KEY AUTO_INCREMENT, \
  jsoncol2 INT NOT NULL UNIQUE, jsoncol3 VARCHAR(255))
sql-init=SET @u = 0
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
sql-init=INSERT INTO jsontest.jsontab3 VALUES(NULL, @u := @u + 2, 'Some random string')
